<div id="category-detail-box" class="box b2 container border-explicit ground margin-top-10 padding-10"
  style="display:none">
  <div class="box b1 border padding-10 margin-top-10">
    <div id="category-create-title" class="box b1 container lucida-grande bold center"></div>
    <%- include('./../../variation/create/form.ejs') %>
  </div>
  <div class="box b1 border padding-10 margin-top-10">
    <div id="category-filter-title" class="box b1 container lucida-grande bold center"></div>
    <%- include('./../../variation/filter/form.ejs') %>
  </div>
</div>