<div id="category-detail-box" class="box b1 container margin-top-10" style="display:none">
  <div class="box b1 container">
    <div id="category-create-title" class="box b1 container lucida-grande bold center"></div>
    <%- include('./../../variation/create/form.ejs') %>
  </div>
  <div class="box b1 container">
    <div id="category-filter-title" class="box b1 container lucida-grande bold center"></div>
    <%- include('./../../variation/filter/form.ejs') %>
  </div>
</div>