<form id="signup-form" class="box b3 container ground margin-top-15 padding-10">
  <div class="box b1 underline lucida-grande em09 bold margin-top-10 center noselect">Crie sua conta e receba
    R$20,00 para começar</div>

  <div id="message" class="box b1 lucida-grande em09 bold center margin-top-10 padding-5 radius-5"
    style="background-color:#e32626;color:#fff;display: none;"><%= message %></div>

  <input type="text" name="business" class="box b1 em11 lucida-grande border-bottom padding-10 margin-top-5"
    maxlength="60" placeholder="/minhaempresa" role="presentation" autocomplete="off">
  <input type="email" name="email" class="box b1 em11 lucida-grande border-bottom padding-10 margin-top-5" id="email"
    maxlength="60" placeholder="E-mail" role="presentation" autocomplete="off">

  <div class="box b1 container border-bottom">
    <input type="password" name="password" class="mobile-box b9-10 em11 lucida-grande padding-10 margin-top-5 noborder"
      maxlength="45" placeholder="Senha" role="presentation" autocomplete="off">
    <div class="mobile-box b10 container center"><img src="/images/icon/eye-open.png"
        class="image-prop icon size-20 center" onclick="switchPasswordView(this)">
    </div>
  </div>
  <input type="submit"
    class="box b1 btn-act lucida-grande em11 bold radius-5 noborder shadow-lg-st padding-10 margin-top-10 margin-bottom-5 noselect pointer"
    value="Criar minha conta">
</form>