<html>

<head>
	<%- include('./partials/head.ejs') %>
</head>

<body>
	<%- include('./partials/userHeader.ejs') %>
	<%- include('./partials/sidebar.ejs') %>

	<section>
		<!-- Informações da conta (nº de produtos, nº de catálogos, nº de imagens, valor do catálogo) -->
		<!-- Componente de pagamento PIX -->
		<!-- Catálogos (opção para ativar / desativar) -->
		<!-- Número de visitantes +1 quando acessar -->
	</section>
</body>
<footer>
	<%- include('./partials/footer.ejs') %>
</footer>

</html>