<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head.ejs') %>
  <style type="text/css">
    .btn-act {
      background-color: #356ae6;
      color: #fff;
    }

    .btn-act:hover {
      background-color: #245ae5;
      color: #fff;
    }

    .image-card {
      object-fit: contain;
      width: 100%;
      height: 200px;
    }
  </style>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <section class="container h-center margin-top-20 margin-bottom-50">
    <div class="box b3-4 container h-center ground padding-5">
      <div class="box b1 margin-top-10">
        <div class="lucida-grande em15 center bold">Apresente seus produtos de forma profissional</div>
        <div class="lucida-grande center bold">Economize tempo e impulsione suas vendas com um catálogo
          sempre</div>
        <div class="box b1 lucida-grande em11 center bold">atualizado e organizado</div>
      </div>
      <div
        class="box b2 btn-act lucida-grande center em12 bold shadow-lg-st radius-5 padding-15 margin-top-10 pointer noselect"
        onclick="window.location.href = '/signup'">Começar grátis</div>
      <div class="mobile-box b1 lucida-grande center em09 margin-top-5 margin-bottom-10 pointer">Desejo entender
        melhor</div>
      <!-- <p class="lucida-grande em10 center">Conheça os pacotes personalizados da Cotalogo, crie promoções ou conjuntos e aumente suas vendas.</p>
            <p class="lucida-grande em10 center bold">Crie mais de 1 catálogo e exponha diferentes produtos ou os mesmos produtos com preços diferentes, ISSO É INCRÍVEL!</p>
            <p class="lucida-grande em10 center">Ganhe $10,00 em créditos para criar seus primeiros catálogos!</p> -->
    </div>

    <div class="box b3-4 container ground margin-top-10 padding-15">
      <div class="box b1 lucida-grande bold">Como saber se o Cotalogo é para mim?</div>
      <div class="box b1 lucida-grande em09">1 - Falta de tempo e dificuldade em apresentar seus produtos de
        maneira profissional e organizada.</div>
      <div class="box b1 lucida-grande em09">2 - Perda de vendas por não ter um catálogo atualizado e disponível
        para apresentação.
      </div>
      <div class="box b1 lucida-grande em09">3 - Dificuldade em criar diferentes catálogos para atender às
        necessidades de diferentes
        clientes.</div>
      <div class="box b1 lucida-grande em09">4 - Custo alto em produzir e imprimir catálogos físicos.</div>
      <div class="box b1 lucida-grande em09">5 - Dependência de enviar fotos de produtos pelo WhatsApp para
        apresentar aos clientes.
      </div>
      <div class="box b1 lucida-grande bold">Se você se identificou com esses problemas, experimente Cotalogo e
        os solucione em minutos.
      </div>
    </div>
  </section>
</body>
<%- include('./partials/footer.ejs') %>

</html>