<div id="catalog-detail-box" class="box b2-3 container ground border margin-top-10 padding-10 radius-10"
  style="display: none;">
  <div id="catalog-detail-div" class="box b1 container"></div>

  <%- include('./product/insert/form.ejs') %>

  <div id="catalog-product-box" class="box b1 container">
    <div id="catalog-product-div" class="box b1 container"></div>
  </div>
</div>