<form id="variation-create-form" class="box a1 container">
  <div class="mobile-box b10 container center"><img onclick="closeDetail()" src="/images/icon/close.png"
      class="image-prop size-20 icon center">
  </div>
  <div id="category-create-title" class="mobile-box b4-5 container lucida-grande bold center"></div>
  <div class="mobile-box b10"></div>
  <input type="hidden" name="id" value="">
  <input type="hidden" name="category-id" value="">
  <input type="text" name="name"
    class="mobile-box b8-9 lucida-grande bold border-st radius-5 padding-5 margin-top-5 center" placeholder=""
    autocomplete="off">
  <button type="submit" name="submit" class="mobile-box b9 input-generic bold noborder margin-top-5"><img
      class='size-20 icon pointer noselect' src="/images/icon/increase.png"></button>
</form>