<form id="category-create-form" class="box a1 container ground">
  <div class="mobile-box a11-12 lucida-grande bold center">Criar categoria</div>
  <div class="box b12 container center">
    <img class='mobile-box size-20 icon pointer noselect' onclick="lib.display('variation-help', '')"
      src="/images/icon/help.png">
  </div>
  <input type="hidden" name="id" value="">
  <input type="text" name="name"
    class="mobile-box b8-9 lucida-grande bold border-st radius-5 padding-5 margin-top-5 center"
    placeholder="Nome da Categoria" autocomplete="off">
  <button type="submit" name="submit" class="mobile-box b9 input-generic noborder margin-top-5"><img
      class='size-20 icon pointer noselect' src="/images/icon/increase.png"></button>
</form>