<form id="category-filter-form" class="box a1 container" style="display:none">
  <input type="text" name="name"
    class="mobile-box b8-9 lucida-grande bold padding-10 border radius-5 center margin-top-5"
    placeholder="Nome da Categoria" autocomplete="off">
  <button type="submit" name="submit" class="mobile-box b9 container center"><img class='size-20 icon pointer noselect'
      src="/images/icon/filter.png"></button>
</form>